.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid salmon;
}

.card-container {
  border: 1px solid rgb(91, 13, 163);
  border-radius: 15px;
  padding: 25px;
  margin: 2px;
  box-shadow: 0.2px 2px 15px rgb(5, 4, 5);
}

.image {
  border-radius: 250px;
  box-shadow: -5px 2px 35px rgb(91, 13, 163);
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.text-container strong {
  font-size: x-large;
  text-shadow: -5px 4px 7px rgba(91, 13, 163, 0.72);
}

.text-container span {
  font-size: large;
  text-shadow: -5px 4px 7px rgba(91, 13, 163, 0.72);
}

.buton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.buton-container button {
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(163, 203, 204);
  border: 1px solid rgb(91, 13, 163);
}

.buton-container button:hover {
  cursor: pointer;
  background-color: rgb(176, 112, 235);
  transition: 0.5s;
}
